#Activation du Rewriting d'URL
RewriteEngine On
#Pour que la requete AJAX fonction avec /page&action="".html
RewriteRule ^([^/]*)\.html$ /?page=$1 [L]


#Pour avoir une URL propre du style /page/action.html
RewriteRule ^([^/]*)/([^/]*)\.html$ /?page=$1&action=$2 [L]

#RewriteRule ^([^/]*)/([^/]*)/([^/]*)\.html$ /?page=$1&action=$2&id=$3 [L]

# http://www.generateit.net/mod-rewrite/index.php