body {
    background-color : #393939;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

#form-container {
    margin-top : 100px;
    margin-bottom : 25px;
    background-color : #f2f2f2;
    padding : 0px;
    border-radius: 10px;
}

.col-xs-6 {
    float: right;
}

.col-md-9{
    padding-bottom: 10px;
}

.navbar {
    min-height: 80px;
    margin-bottom: 0px;
    border-radius: 0px;
}

footer{
    background-color: #222222;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
    color: #CCC;
}

footer p {
    padding: 10.5px;
    margin: 0px;
    line-height: 100%;
}

.navbar-brand > img {
    display: contents;
    margin-top: -25px;
}

.jumbotron {
    background-color: #f9c44f
}

.carousel-inner > .item > img {
    height: auto;
}

h1 {
    color: #e1e1e1;
}
.text-home {
    font-size: 20px;
    color: #e1e1e1;
}

.container-fluid {
    margin-top: 15px
}